<!DOCTYPE html>

<head>
<title>Hello World</title>
<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<% include ./partials/navbar %>
<body>




<%- body -%>

<% include ./partials/footer %>

</body>
</html>
